
.container{
    width: 470px;
    height: 350px;
    border: 1px solid black;
    margin: 200px auto;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1{
    text-align: center;
}

input{
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

button{
    background-color: skyblue;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 5px;
}

p{
    color: red;
}